h1 {
    font-size: 2.5em;
    color: rgb(42, 42, 42);
}

h3 {
    font-size: 1em;
    color: rgb(42, 42, 42);
}

a {
    color: rgb(42, 42, 42);
}

.center-text {
    text-align: center;
}

.right-align-text {
    text-align: right;
}

.btn {
    background: rgb(50, 88, 190);
    color: rgb(10, 10, 10);
    height: 50px;
    width: 125px;
}

#pageTitle {
    margin: 10px;
}

#instructions {
    margin: 10px;
    margin-top: 0px;
}

#wholePageContainer {
    background-color: rgb(71, 136, 107);
    min-height: 100vh;
}

#quoteAuthorIcon {
    font-size: 12vw;
    margin: 5px;
    margin-left: -7vw;
    margin-top: -60px;
}

#text {
    background-color: rgb(218, 223, 225);
    color: rgb(85, 85, 85);
    font-size: 2em;
}

#author {
    font-size: 2em;
    padding-bottom: 50px;
}

#buttonContainer {
    vertical-align: middle;
    align-content: center;
}


/*======================================================
  Speech Bubble CSS from Nicolas Gallagher, 
  www.nicolasgallagher.com/pure-css-speech-bubbles/demo/
  ======================================================*/

.rectangle-speech-border {
    position: relative;
    padding: 50px 15px;
    margin: 1em 0 3em;
    border: .75vw solid rgb(30, 68, 170);
    text-align: center;
    color: #333;
    background: #fff;
    /* css3 */
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}


/* creates larger curve */

.rectangle-speech-border:before {
    content: "";
    position: absolute;
    z-index: 10;
    bottom: -40px;
    left: 50px;
    width: 50px;
    height: 30px;
    border-style: solid;
    border-width: 0 .75vw .75vw 0;
    border-color: rgb(30, 68, 170);
    background: transparent;
    /* css3 */
    -webkit-border-bottom-right-radius: 80px 50px;
    -moz-border-radius-bottomright: 80px 50px;
    border-bottom-right-radius: 80px 50px;
    /* reduce the damage in FF3.0 */
    display: block;
}


/* creates smaller curve */

.rectangle-speech-border:after {
    content: "";
    position: absolute;
    z-index: 10;
    bottom: -40px;
    left: 50px;
    width: 20px;
    height: 30px;
    border-style: solid;
    border-width: 0 .75vw .75vw 0;
    border-color: rgb(30, 68, 170);
    background: transparent;
    /* css3 */
    -webkit-border-bottom-right-radius: 40px 50px;
    -moz-border-radius-bottomright: 40px 50px;
    border-bottom-right-radius: 40px 50px;
    /* reduce the damage in FF3.0 */
    display: block;
}


/* creates a small circle to produce a rounded point where the two curves meet */

.rectangle-speech-border> :first-child:before {
    content: "";
    position: absolute;
    bottom: -40px;
    left: 45px;
    width: 10px;
    height: 10px;
    background: rgb(30, 68, 170);
    /* css3 */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}


/* creates a white rectangle to cover part of the oval border*/


/*
.rectangle-speech-border> :first-child:after {
    content: "";
    position: absolute;
    bottom: -.75vw;
    left: 76px;
    width: 24px;
    height: 15px;
    background: #fff;
} */